/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15-mar-2014, 19:05:48
    Author     : ahvega
*/

.page-footer {
    text-align: right;
}

select {
    width: 50%
}

#form_finishdate {
    width: 150px;
}

div[id*="form_"] > label {
    /* Enunciados de respuestas */
    /* background: red; */
    display: inline !important;
}

div > label[class*="required"]:first-child {
    /* Enunciados de preguntas */
    font-size: 150%;
    margin-top: 1em;
}

div > label[class*="required"] {
    /* Enunciados de preguntas */
    display: block;
} 

div > input[type*="radio"] {
    display: block;
    margin-top: 0.5em;
}

div > label[for*="form_description"] {
    font-size: 150%;
    display: block;
}

.error {
    color: red;
    font-weight: bold;
}