{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{% trans %}Gestionar proyectos{% endtrans %}</h1>
      </div>  
      <div class="page-content">
          {% if projects is empty %}
              {% trans %}No hay datos{% endtrans %}
          {% else %}
          <table id="datetable">
              <thead>
              <tr>
                <th>Nombre</th>
                <th>Acciones</th>
              </tr>
              </thead>
              <tbody>
              {% for project in projects %}
              <tr>
                  <td> {{project.name}} </td>
                  <td> 
                      <a href="{{ path('iw_easy_survey_edit_project', {'id': project.id})}}"> Editar </a> |
                      <a href="{{ path('iw_easy_survey_delete_project', {'id': project.id})}}" onclick="return confirm('¿Esta seguro?')"> Borrar </a> 
                  </td>
              </tr>
              {% endfor %}
              </tbody>
          </table>
          {% endif %}
      </div>
{% endblock %}