{% extends "AhvegaHomeBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>Web de ahvega</h1>
      </div>
      
      <div class="page-users">
          <h1>Añadir un usuario</h1>
          <form action="{{ path('ahvegahome_addUser') }}" method="post">
            <p>{% trans %}Nombre{% endtrans %}:<br> <input type="text" id="firstname" name="firstname"></p>
            <p>{% trans %}Apellidos{% endtrans %}:<br> <input type="text" id="lastname" name="lastname"></p>
            <p>{% trans %}Email{% endtrans %}:<br> <input type="text" id="email" name="email"></p>
            <p>{% trans %}Username{% endtrans %}:<br>  <input type="text" id="username" name="username"></p>
            <p>{% trans %}Password{% endtrans %}:<br> <input type="text" id="password" name="password"></p>
            <div class="btnAccionGeneral">
                <input id="send" name="send" class="boton" type="submit" value="{% trans %}Guardar{% endtrans %}">
            </div>
        </form>
      </div>
{% endblock %}