{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% trans %}Acerca de{% endtrans %}</h1>
      </div>  
      <div class="page-content">
        <h2>{%trans%}Motivación{%endtrans%}</h2>
            <p>{%trans%}Esta práctica es realizada con la finalidad de poder superar la asignatura de Ingeniería Web, correspondiente al tercer curso del Grado de Informática, especialidad en Ingeniería del Software, de la Universidad de Córdoba. El encargo de su realización tiene como plazo máximo de entrega el veintinueve de mayo de dos mil dieciséis y es realizado por parte de D. Gonzalo Cerruela García, profesor que imparte dicha materia.{%endtrans%} </p>
        <h2>{%trans%}Quiénes somos{%endtrans%}</h2>
            <p>{%trans%}Este es un proyecto hecho por:{%endtrans%}</p>
            <ul>
                <li>David Checha Hidalgo</li>
                <li>Jorge Díaz Muñoz</li>
                <li>Antonio José Herrera Vega</li>
                <li>Julio Domingo Jiménez Ledesma</li>
                <li>Rafael Carlos Méndez Rodríguez</li>
            </ul>
      </div>
{% endblock %}