{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% image '@IWEasySurveyBundle/Resources/public/images/logo.jpg' %}<img alt="Logotipo de EasySurvey" height="262" width="518" src="{{ asset_url }}"/>{% endimage %}</h1>
      </div>     
      <div class="page-content">
      	<p><span class="negrita">EasySurvey</span> nace de la necesidad de conocer las opiniones de un conjunto concreto de individuos.</p>
      	<p>Con la capacidad de recabar miles de opiniones, permite ofrecer un producto que, inicialmente,</p>
        <p>pueda parecer adecuado para un público objetivo, realizar estudios de mercado, estadísticos, socilógicos...</p>
      </div>
{% endblock %}