{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% image '@IWEasySurveyBundle/Resources/public/images/logo.jpg' %}<img alt="Logotipo de EasySurvey" height="262" width="518" src="{{ asset_url }}"/>{% endimage %}</h1>
      </div>     
      <div class="page-content">
            <p>{% trans %}<strong>EasySurvey</strong> nace fruto de la importancia de conocer las opiniones y necesidades de un conjunto concreto de individuos a los cuáles poder ofrecer aquellos productos/servicios que pudieran ser de su interés, y de esta forma, establecer una especialización en las técnicas de mercado a emplear, así como en la elección del público objetivo más idóneo.{% endtrans %}</p>
            <p>{% trans %}A través de nuestro proyecto, contamos con la mejor herramienta de que se puede disponer hoy en día, la opinión social.{% endtrans %}</p>
            <p>{% trans %}Para ello, haciendo uso de cuestionarios especializados y por medio de la colaboración de los usuarios invitados, obtendremos un conjunto de información muy valiosa y de aplicación en muchos ámbitos.{% endtrans %}</p>
      </div>
{% endblock %}