{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% image '@IWEasySurveyBundle/Resources/public/images/logo.jpg' %}<img alt="Logotipo de EasySurvey" height="262" width="518" src="{{ asset_url }}"/>{% endimage %}</h1>
      </div>     
      <div class="page-content">
      	<p><span class="negrita">EasySurvey</span> nace fruto de la necesidad de conocer las opiniones de un hipotético público objetivo para su producto.</p>
      	<p>Con la capacidad de recabar miles de opiniones, un producto que, inicialmente, puede parecer adecuado;</p>
      </div>
{% endblock %}