{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% trans %}Registro{% endtrans %}</h1>
      </div>  
      <div class="page-content">  
          {{message}}
          <br><br>
          <p>{% trans %}Pulse{% endtrans %} <a href="{{ path('iw_easy_survey_login')}}"> {% trans %}aquí{% endtrans %} </a> {% trans %}para acceder{% endtrans %}</p>
      </div>
{% endblock %}