{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% trans %}Registro{% endtrans %}</h1>
      </div>  
      <div class="page-content">  
      {{ form(form) }}
      </div>
      <div style="color: red">{{error}}</div>
{% endblock %}