{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% trans %}Logout{% endtrans %}</h1>
        <div class="page-content"> Se ha desconectado del sistema </div>
      </div>     
{% endblock %}