{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% trans %}Modificar Usuario{% endtrans %}</h1>
      </div>     
      <div class="page-content">  
      {{ form(form) }}
      </div>
      <div class="color: red">{{error}}</div>
{% endblock %}