{% extends "IWEasySurveyBundle::layout.html.twig" %}

{% block content %}
      <div class="page-header">
        <h1>{% trans %}Encuestas{% endtrans %}</h1>
      </div>  
      {% if error is empty %}
      <div class="page-content">  
      {{ form(form) }}
      </div>
      {% else %}
           {{error}}
      {% endif %}
{% endblock %}