{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{% trans %}Generar instancia{% endtrans %}</h1>
      </div>  
      <div class="page-content">  
          Se va a crear una instancia de la encuesta:
          <br><br>
          {{form(form)}}
          <br><br>
          *Una vez cree la instancia no va a poder modificar la encuesta
      </div>
{% endblock %}