{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{% trans %}Gestionar opciones{% endtrans %}</h1>
      </div>  
      
      <div class="page-content">
          <h2>{{ question.name }}</h2>
          {{form(form)}}
      </div>
      
{% endblock %}