{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <h1>{{name}}</h1>
      </div>  
      <div class="page-content">  
          {% if close == 1 %}
             Cuestonario cerrado
         {% else %}    
            {{ form(form)}}
         {% endif %}         
      </div>  
      <div class="g-recaptcha" data-sitekey="6LeariATAAAAACju7ric7xAzlh_NStHRQQYN4BSH"></div>
{% endblock %}