{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
        <h1>{{name}}</h1>
      </div>  
      <div class="page-content">  
          {% if close == 1 %}
             Cuestonario cerrado
         {% else %}    
            {{ form(form)}}
         {% endif %}
      </div>
{% endblock %}