{% extends "IWEasySurveyBundle::layout.html.twig" %}
{% block content %}
      <div class="page-header">          
          <h1>Respuesta de la encuesta</h1>
      </div>  
      <div class="page-content">  
          Página para mostrar los resultados de la encuesta
      </div>  
{% endblock %}